<ul class="list-unstyled list-inline text-center">
	<li class="list-inline-item">
		<a class="navbar-brand" href="">Home</a>
	</li>
	<li class="list-inline-item">
		<a class="navbar-brand" href="about">About</a>
	</li>
	<li class="list-inline-item">
		<a class="navbar-brand" href="quiz">Quiz</a>
	</li>
	<li class="list-inline-item">
		<a class="navbar-brand" href="contact">Contact</a>
	</li>
</ul>
