{% extends "Base/base.twig" %}

{% block meta_tag_info %}
	<meta name="description" content="About page of Awesome PHP Quiz website">
{% endblock %}

{% block page_title %}
	About Us
{% endblock %}

{% block main_content %}
	<section class="container">
		<h2>The Ultimate Place To Learn More</h2>
		<hr>
		<p class="m-4">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;In the world of education there are many different ways to teach and 
			                to consolidate what has been learned. In years gone by, people were expected to memorise dates, formulae 
			                and figures by rote. But this method of teaching can be quite dull, to say the least! One tool becoming 
			                more common, especially in online education, is quizzes.<br/>During any learning course, it is a good idea to stop and review what was learned. Repetition is an 
			                important element of learning, and one way to repeat content is through quizzes.
		</p>
	</br><br/>

	PHP is one of the most dominant scripting languages on the web because it is essentially free. 
	                PHP also has one of the highest rates of new coders compared to other languages because young coders 
	                prefer to start in a language that won’t cost them any money. PHP performs well in terms of speed and 
	                flexibility, which helps the new coders stick with the language. This website is designed to determine
	                your fundamentals of the PHP programming language.
	<br/><br/>
	This website  is intended for self-development. Our goal is to motivates you to stay focused, keep moving forward and also improve or expanding one’s 
	                knowledge of things by providing a fun way to study or learn PHP.<br/><br/>
	Our quiz enables, Test learners / yourself anytime, anywhere, at home, work, or even on the go on multiple devices- whether that’s a smartphone, tablet, laptop, or desktop device.<br/>

	Provide instant grading or dynamic feedback to address common misconceptions and errors, reinforce key points, and close the knowledge gaps.<br/>

</p></section>{% endblock %}
